.post-list
    ul.body-text.post-list
        each post in page.posts.toArray()
            li.post-list-item
                .post-date
                    img(src="/images/calendar.svg")
                    = formatDate(post.date)
                h2: a.post-header.header-text(href=url_for(post.path))= post.title
                ul.post-tags
                    each tag in post.tags.toArray()
                        li
                            a.tag-link(href=url_for(tag.path))
                                img(src="/images/tag.svg")
                                = tag && tag.name
                p
                    != post.excerpt
                .flex-row
                    a.ghost-button(href=url_for(post.path))
                        | Continue Reading
                br
    .flex-row
        if page.prev
            a.ghost-button(href=page.prev_link) Previous Page
        .flex-spacer
        if page.next
            a.ghost-button(href=page.next_link) Next Page
